/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UMCUGenetics/GIABEval Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name            = 'UMCUGenetics/GIABEval'
    author          = """UMCU Genetics"""
    homePage        = 'https://github.com/UMCUGenetics/GIABEval'
    description     = """UMCU Genetics Genome-in-a-bottle evaluation workflow for benchmarking"""
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.10.1'
    version         = '1.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-validation' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

// Global default params, used in configs
params {
    // Filename settings
    delim = "_"
    id_index = [0,3]

    // Perform pairwise comparison (true/false)
    run_pairwise = true

    // Input options
    vcf_path = null


    email = null

    // Output options
    cluster_options = "--mail-user $params.email --mail-type FAIL"
    publish_dir_mode = 'link'
    outdir = null

    //Happy container with RTGtools
    happy_container = "community.wave.seqera.io/library/hap.py_rtg-tools:2ebb433f3ce976d3"


    genome_build = "GRCh38"

    // Reference genome config
    ref_fasta = null
    ref_fai   = null
    rtg_index = null
    exome_target_bed = null
    primary_contigs_grch37 = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y"
    primary_contigs_grch38 = "chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY"

    // benchmarking references
    // TODO: include genome_stratifications

    truth_vcf = null
    truth_vcf_index = null
    false_positives_bed = null


    // QC settings
    qc_settings_path = "${projectDir}/assets/checkqc_settings.yaml"
    multiqc_yaml     = "${projectDir}/assets/multiqc_config.yaml"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']


// Load base.config
includeConfig 'conf/base.config'
// Load modules.config for module specific options
includeConfig 'conf/modules.config'

profiles {
    standard {
        includeConfig "conf/umcu_hpc.config"

        process {
            executor       = "slurm"
            queue          = "cpu"
            clusterOptions = "$params.cluster_options"
            errorStrategy  = "retry"
            maxRetries     = 1
        }
        executor {
            queueSize         = 1000
            pollInterval      = '1min'
            queueStatInterval = '5min'
            submitRateLimit   = '10sec'
            account           = "diaggen"
        }
        singularity.enabled    = true
        singularity.cacheDir   = "/hpc/diaggen/software/singularity_cache/"
        singularity.runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'

        mail.smtp.host = 'localhost'
    }
}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
    overwrite = true
}

trace {
    enabled = true
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
    file = "$params.outdir/log/nextflow_trace.txt"
    overwrite = true
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
    overwrite = true
}
