/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UMCUGenetics/GIABEval Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name            = 'UMCUGenetics/GIABEval'
    author          = """UMCU Genetics"""
    homePage        = 'https://github.com/UMCUGenetics/GIABEval'
    description     = """UMCU Genetics Genome-in-a-bottle evaluation workflow for benchmarking"""
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.10.1'
    version         = '1.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-validation' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

// Global default params, used in configs
params {
    // Filename settings
    delim = "_"
    id_index = [0, 3]   
 
    // Input options
    vcf_path = null
    nist_version_to_use = "nist_v2_19"  // should match with defined params
    email = null

    // Output options
    cluster_options = "--mail-user $params.email --mail-type FAIL --account=diaggen"
    publish_dir_mode = 'link'
    outdir = null

    // reference files
    assembly {
        grch37 {
            ref_fasta = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta"
            ref_fai = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta.fai"
            ref_dict = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.dict"
        }
    }
   
    exome_target_bed = "/hpc/diaggen/software/production/Dx_tracks/Tracks/ENSEMBL_UCSC_merged_collapsed_sorted_v3_20bpflank.bed"

    // benchmarking references

    nist_v2_19 {
        assembly = "grch37"
        filepath = "/hpc/diaggen/data/databases/GIAB/NIST_v2.19/"
        truth_vcf = "${filepath}GIAB12878_nist2.19_truth_fixHeader.vcf.gz"
        truth_vcf_index = "${filepath}GIAB12878_nist2.19_truth_fixHeader.vcf.gz.tbi"
        high_conf_bed = "${filepath}union13callableMQonlymerged_addcert_nouncert_excludesimplerep_excludesegdups_excludedecoy_excludeRepSeqSTRs_noCNVs_v2.19_2mindatasets_5minYesNoRatio_noMT.bed"
        false_positives_bed = null
        // /hpc/diaggen/projects/GIAB_eval/genome_stratifications/v2.0/GRCh38/v2.0-GRCh38-stratifications.tsv 
    }

    // QC settings
    qc_settings_path = "${projectDir}/assets/checkqc_settings.yaml"
    multiqc_yaml = "${projectDir}/assets/multiqc_config.yaml"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']


// Load base.config
includeConfig 'conf/base.config'

// Load modules.config for module specific options
includeConfig 'conf/modules.config'

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    overwrite = true
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
    overwrite = true
}
