/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UMCUGenetics/GIABEval Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name            = 'UMCUGenetics/GIABEval'
    author          = """UMCU Genetics"""
    homePage        = 'https://github.com/UMCUGenetics/GIABEval'
    description     = """UMCU Genetics Genome-in-a-bottle evaluation workflow for benchmarking"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0dev'
    doi             = ''
}

// Global default params, used in configs
params {
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    overwrite = true
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
    overwrite = true
}