/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: CheckQC {
        cpus = { 2 }
        memory = { 1.GB * task.attempt }
        time = { 5.m * task.attempt }
        publishDir = [
            path: { "${params.outdir}/QC/CheckQC" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: EditSummaryFileHappy {
        cpus = { 2 }
        memory = { 1.GB * task.attempt }
        time = { 5.m * task.attempt }
    }

    withName: ExportParams {
        cpus = { 2 }
        memory = { 1.GB * task.attempt }
        time = { 5.m * task.attempt }
    }

    withName: GATK4_SELECTVARIANTS {
        ext.args = '-select-genotype "BD==\'TP\'"'
        ext.prefix = { "${meta.id}.TP" }
        cpus = { 2 }
        memory = { 5.GB * task.attempt }
        time = { 5.m * task.attempt }
        //time = { (1.ms * vcf_file.size() / 750) * task.attempt }
        publishDir = [
            path: { "${params.outdir}/TP" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: HAPPY_HAPPY {
        cpus = { 2 }
        memory = { 8.GB * task.attempt }
        time = { 4.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/HAPPY/vcf_giab" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: HAPPY_HAPPY_tp_giab {
        cpus = { 2 }
        memory = { 8.GB * task.attempt }
        time = { 4.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/HAPPY/pairwise_tp_giab" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/QC" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VersionLog {
        cpus = { 2 }
        memory = { 1.GB * task.attempt }
        time = { 5.m * task.attempt }
    }

}
