params {

    # assembly {
        # grch37 {
    ref_fasta        = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta"
    ref_fai          = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta.fai"
    rtg_index        = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/rtgtools_3.12.1/Homo_sapiens.GRCh37.GATK.illumina.SDF/"
    exome_target_bed = "/hpc/diaggen/software/production/Dx_tracks/Tracks/ENSEMBL_UCSC_merged_collapsed_sorted_v3_20bpflank_collapsed.bed"

    input_base          = "/hpc/diaggen/data/databases/GIAB/NA12878_HG001/NISTv2.19/GRCh37/"
    truth_vcf           = "${params.input_base}/HG001_NISTIntegratedCalls_14datasets_131103_allcall_UGHapMerge_HetHomVarPASS_VQSRv2.19_2mindatasets_5minYesNoRatio_all_nouncert_excludesimplerep_excludesegdups_excludedecoy_excludeRepSeqSTRs_noCNVs_fixHeader.vcf.gz"
    truth_vcf_index     = "${params.input_base}/HG001_NISTIntegratedCalls_14datasets_131103_allcall_UGHapMerge_HetHomVarPASS_VQSRv2.19_2mindatasets_5minYesNoRatio_all_nouncert_excludesimplerep_excludesegdups_excludedecoy_excludeRepSeqSTRs_noCNVs_fixHeader.vcf.gz.tbi"
    false_positives_bed = "${params.filepath}/union13callableMQonlymerged_addcert_nouncert_excludesimplerep_excludesegdups_excludedecoy_excludeRepSeqSTRs_noCNVs_v2.19_2mindatasets_5minYesNoRatio.bed"

        # }
        # grch38 {
            # ref_fasta = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh38.GCA_000001405.15/full_plus_hs38d1_analysis_set/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna"
            # ref_fai = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh38.GCA_000001405.15/full_plus_hs38d1_analysis_set/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna.fai"
            # rtg_index = "/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh38.GCA_000001405.15/full_plus_hs38d1_analysis_set/rtgtools_3.12.1/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.SDF/"
            # exome_target_bed = "/hpc/diaggen/projects/GIAB_full_data/stratifications/v3.5/GRCh38/functional/GRCh38_refseq_cds.bed"
            # primary_contigs=
        # }
    # }
    # hg001_nist_v2_19_grch37 {


    # }

    # hg001_nist_v4_2_1_grch37 {
    #     assembly = "grch37"
    #     filepath = "/hpc/diaggen/data/databases/GIAB/NA12878_HG001/NISTv4.2.1/GRCh37/"
    #     truth_vcf = "${filepath}HG001_GRCh37_1_22_v4.2.1_benchmark.vcf.gz"
    #     truth_vcf_index = "${filepath}HG001_GRCh37_1_22_v4.2.1_benchmark.vcf.gz.tbi"
    #     false_positives_bed = "${filepath}HG001_GRCh37_1_22_v4.2.1_benchmark.bed"
    # }

    # hg001_nist_v4_2_1_grch38 {
    #     assembly = "grch38"
    #     filepath = "/hpc/diaggen/data/databases/GIAB/NA12878_HG001/NISTv4.2.1/GRCh38/"
    #     truth_vcf = "${filepath}HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
    #     truth_vcf_index = "${filepath}HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
    #     false_positives_bed = "${filepath}HG001_GRCh38_1_22_v4.2.1_benchmark.bed"
    # }

    # hg002_nist_v4_2_1_grch38 {
    #     assembly = "grch38"
    #     filepath = "/hpc/diaggen/data/databases/GIAB/HG002_NA24385_son/NISTv4.2.1/GRCh38/"
    #     truth_vcf = "${filepath}HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
    #     truth_vcf_index = "${filepath}HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.gz.tbi"
    #     false_positives_bed = "${filepath}HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
    # }
}
